name: slice

on:
  push:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      access_token: ${{ secrets.ACCESS_TOKEN }}
    steps:
    - uses: actions/checkout@v2.3.4

    - name: smoke_test
      run: |
       git clone https://github.com/minetest-game/default.git
       cd default
       git push https://BuckarooBanzay:${access_token}@github.com/minetest-game/default.git

    - name: checkout
      run: git clone https://github.com/minetest/minetest_game

    - name: default
      run: ./slice.sh default

    - name: fireflies
      run: ./slice.sh fireflies

    - name: wool
      run: ./slice.sh wool

    - name: stairs
      run: ./slice.sh stairs

    - name: creative
      run: ./slice.sh creative

    - name: sfinv
      run: ./slice.sh sfinv

    - name: carts
      run: ./slice.sh carts

    - name: map
      run: ./slice.sh map

    - name: vessels
      run: ./slice.sh vessels

    - name: beds
      run: ./slice.sh beds

    - name: dye
      run: ./slice.sh dye

    - name: xpanes
      run: ./slice.sh xpanes

    - name: player_api
      run: ./slice.sh player_api

    - name: boats
      run: ./slice.sh boats

    - name: bones
      run: ./slice.sh bones

    - name: bucket
      run: ./slice.sh bucket

    - name: doors
      run: ./slice.sh doors

    - name: farming
      run: ./slice.sh farming

    - name: flowers
      run: ./slice.sh flowers

    - name: screwdriver
      run: ./slice.sh screwdriver
