name: slice

on:
  push:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      access_token: ${{ secrets.ACCESS_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: smoke_test
      run: |
       git clone https://github.com/minetest-game/default.git
       cd default
       git push https://BuckarooBanzay:${access_token}@github.com/minetest-game/default.git

    - name: checkout
      run: git clone https://github.com/minetest/minetest_game

    - name: default
      run: ./slice.sh default

    - name: binoculars
      run: ./slice.sh binoculars

    - name: butterflies
      run: ./slice.sh butterflies

    - name: dungeon_loot
      run: ./slice.sh dungeon_loot

    - name: env_sounds
      run: ./slice.sh env_sounds

    - name: fire
      run: ./slice.sh fire

    - name: game_commands
      run: ./slice.sh game_commands

    - name: give_initial_stuff
      run: ./slice.sh give_initial_stuff

    - name: mtg_craftguide
      run: ./slice.sh mtg_craftguide

    - name: sethome
      run: ./slice.sh sethome

    - name: spawn
      run: ./slice.sh spawn

    - name: tnt
      run: ./slice.sh tnt

    - name: walls
      run: ./slice.sh walls

    - name: weather
      run: ./slice.sh weather

    - name: fireflies
      run: ./slice.sh fireflies

    - name: wool
      run: ./slice.sh wool

    - name: stairs
      run: ./slice.sh stairs

    - name: creative
      run: ./slice.sh creative

    - name: sfinv
      run: ./slice.sh sfinv

    - name: carts
      run: ./slice.sh carts

    - name: map
      run: ./slice.sh map

    - name: vessels
      run: ./slice.sh vessels

    - name: beds
      run: ./slice.sh beds

    - name: dye
      run: ./slice.sh dye

    - name: xpanes
      run: ./slice.sh xpanes

    - name: player_api
      run: ./slice.sh player_api

    - name: boats
      run: ./slice.sh boats

    - name: bones
      run: ./slice.sh bones

    - name: bucket
      run: ./slice.sh bucket

    - name: doors
      run: ./slice.sh doors

    - name: farming
      run: ./slice.sh farming

    - name: flowers
      run: ./slice.sh flowers

    - name: screwdriver
      run: ./slice.sh screwdriver

    - name: keys
      run: ./slice.sh keys

    - uses: gautamkrishnar/keepalive-workflow@v2
